* {
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: white;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #ffead0;
    background: linear-gradient(
        46deg,
        rgba(255, 234, 208, 1) 0%,
        rgba(150, 97, 107, 1) 100%
    );
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #37505c;
    height: 500px;
    width: 800px;
    padding: 30px;
    border-radius: 20px;
}

nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 25%;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#subtitle {
    width: 600px;
    margin-top: 40px;
}

input {
    border: 1px solid black;
    outline: none;
    display: flex;
    border-radius: 20px;
    text-align: center;
    height: 20px;
    background-color: #113537;
}

input::placeholder {
    color: white;
}

button {
    border-radius: 10px;
    border-color: gray;
    width: 100px;
    height: 25px;
    border: 1px solid black;
    background-color: #113537;
    color: white;
}

button:disabled {
    opacity: 0.5;
}
